*{
  margin:0;
  padding:0; 
}
body{
  font-family: 'Courgette', cursive;
}
 .fondo{
  background-image:url(../6074583145_8e219f8378_b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.row .col {
  padding: 0;
}

.row{
  margin-bottom: 0;
}
.inicio{
  margin-top: 30%;
}
h1{
  text-shadow: 1px 1px 2px black; 
}
p{
  text-shadow: 1px 1px 2px black; 
}

.txt {
	width: 100%;
  height: 8vh;
	color: #4E4D53;
	font-size: 15px;
	padding: 1em;
	border-radius: 1em;
	border: none;
  margin: 0 auto;
  resize: none;
  border: 1px solid red;
  
}

#btn:hover, .btnPhoto:hover {
	background-color: #5590A6;
}

#btn:focus, textarea:focus{
	outline: none;
}

.jaja{
  border: 1px solid greenyellow;
}

